
button{
    width: 70px;      
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 1%, 39%);
    color: white;
    font-size: 2rem;  
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    opacity: 0.9s;
    background-color: rgb(121, 121, 125);
}
button:active{
    background-color: rgb(155, 154, 154);
}

.calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    width: 320px;     
    padding-bottom: 10px;
    overflow: hidden;
    margin-left: 430px;
    margin-top: 50px;
}



#display{
    width: 100%;
    padding: 15px;
    font-size: 3rem;
    border: none;
    text-align: left;
    background-color: hsl(0, 0%, 40%);
    color: white;
}
.clear{
    color:red;
}
.equal{
    background-color: rgb(12, 241, 12);
}

.a, .b, .c, .d, .e, .f{
    color:rgb(12, 241, 12) ;
}

